<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

       <context:component-scan base-package="Spring4_JDBC.tx"/>
       <!--导入资源文件-->
       <context:property-placeholder location="classpath:Spring4_JDBC/db.properties"/>
       <!--配置C3P0数据源-->
       <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
              <property name="user" value="${jdbc.user}"/>
              <property name="password" value="${jdbc.password}"/>
              <property name="driverClass" value="${jdbc.driverClass}"/>
              <property name="jdbcUrl" value="${jdbc.jdbcUrl}"/>

              <property name="initialPoolSize" value="${jdbc.initPoolSize}"/>
              <property name="maxPoolSize" value="${jdbc.maxPoolSize}"/>
       </bean>

       <!-- 配置Spring 的JdbcTemplate-->
       <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
              <property name="dataSource" ref="dataSource"/>
       </bean>

       <!-- 1. 配置事务管理器,管理JDBC的 -->
       <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
              <property name="dataSource" ref="dataSource"/>
       </bean>

       <!-- 2. 声明事务通知 ，配置事务属性 -->
       <tx:advice id="txAdvice" transaction-manager="transactionManager">
              <tx:attributes>
                     <!-- 根据方法名指定事务的属性 -->
                     <tx:method name="purchase" propagation="REQUIRES_NEW"/>
                     <tx:method name="get*" read-only="true"/>
                     <tx:method name="find*" read-only="true"/>
                     <tx:method name="*"/>
              </tx:attributes>
       </tx:advice>

       <!-- 3. 声明事务通知需要通知方法（即需要进行事务管理的方法）
            配置事务切入点, 以及把事务切入点和事务属性关联起来 -->
       <aop:config>
              <aop:pointcut expression="execution(* Spring4_JDBC.tx.*.*(..))"
                            id="txPointCut"/>
              <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointCut"/>
       </aop:config>
</beans>